<footer id="footer">
  <div class="outer">
    <div id="footer-info">
      	<div class="text-center">
          <div><%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></div>
          <div style="margin:0 auto; padding:0 10px;">
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32059002003240"
            style="display:inline-block;text-decoration:none;height:20px;line-height:20px;vertical-align: bottom;">
            <img src="/img/beian.png">
            <p style="height:20px;line-height:20px;margin: 0px 0px 0px 0px; color:#939393;display: inline-block;">
              苏公网安备 32059002003240号</p>
              <p style="height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
                苏ICP备2020052081号</p>
            </a>
          </div>
        </div>
    </div>
  </div>
</footer>
